$border1: 1px solid;

.outer{
    border: $border1;
    margin: 50px auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    border: $border1;
    margin: 30px;
    width: 80%;
    height: 50px;
}

.choiceWrapper{
    border: $border1;
    margin: 5px;
    width: 80%;
    height: 300px;
    display: flex;
    align-items: center;
}

.choice{
    margin: 20px;
    width: 500px;
    height: 85%;
}

.choiceEven{
    background-color: rgba(250, 250, 250, 0.9);
    border-radius: 10%;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 400px;
    height: 75%;
}

.result{
    border: $border1;
    margin: 50px auto;
    width: 800px;
    // height: 300px;
    display: flex;
    align-items: center;
}
